<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <style>
        .navbar{
          margin-bottom: 0;
          border-radius: 0;
          background-color: #5E4485;
          color: #fff;
          padding: 1% 0;
          font-size: 1.2em;
          border: 0;
      }
        .navbar-brand{
          float: left;
          min-height: 55px;
          padding: 0 15px 5px;
      }
      .navbar-inverse .navbar-nav .active a,.navbar-inverse .navbar-nav .active a:focus,.navbar-inverse .navbar-nav .active a:hover
      {
          color: white;
          background-color: #5E4485;
      }
 .name{
     float:left;
   color:black;
  	font-size: 30px;
  	border-bottom: 5px solid black;
   } 
  </style>
     <body>
<nav class="navbar navbar-inverse">
    <div class="conteinar-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h2><i>Hiking Life          
                </i></h2>        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right"> 
            <li class="active"><a href="/">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>    
  <div class="container"><h2>All Post</h2>
   <h1>Article List</h1>
<% console.log(posts) %>
  <% for(var i=0; i<posts.length; i++) { %>
    <h1> <%= posts[i].title %> </h1>
    <p>
      <%= posts[i].place%>
    </p>
    <h3><%= posts[i].photo%></h3>
   <h3>Description<%= posts[i].description%></h3>
  <div class="signup">
		<button onclick="deletepost('<%= posts[i]._id %>')" style="width:auto;">Delete</button> 

    <% } %>
    </div>
  </body>
  <script src="/lib/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/ejs_production.js"></script>
  <script>
  function deletepost(id){
       $.ajax({
      method:"DELETE",
      url:'/api/posts/'+id,
     
    }).done(function(response){
      console.log(response);
     
    }).fail(function(response){
                   console.log(response); 
        $("#error").text("Something went wrong! Try again.");
                });
                
           
  }
  </script>



 </body>